.honda_1{
    width: 65vh;
}
.honda_2{
    width: 130vh;
}
.honda_3{
    width: 50vh;
}
.radiolinear{
    margin-bottom: 2vh;
}
.halfscreen{
    width: 33%;
}
.fullwidth{
    width: 100%;
}
.inputColumn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding: 1vh;
  }